body {
    display: flex;
    flex-direction: row;
    background-color: pink;
}

#main {
 display: flex;
 flex-direction: column;
 background-color: purple;
 color: white;
 padding: 15px;
 margin: 15px;
}

ul {
    padding: 15px;
}

#logo {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 15px;
}

#articlenav {
    background-color: lightpink;
    text-align: center;
    max-width: 300px;
}